#header {
  font:18pt Arial,Helvetica,sans-serif;
  padding:15pt 0pt 15pt 0pt;
  width:100%;
}

#menu {
  border:1pt  solid blue;
  float:left;
  margin-right:15pt;
  width:12%;
}

#footer {
  color:gray;
  clear:both;
  font-size:8pt;
  text-align:right;
  width:100%;
}
