BODY {
  margin-left:auto;
  margin-right:auto;
  width:80%;
}

#header {
  text-align:center;
  width:100%;
}

#menu {
  clear:both;
  margin-right:15pt;
  margin-bottom:15pt;
  text-align:center;
  width:100%;
}

#menu A {
  font:14pt Arial,Helvetica,sans-serif;
  text-decoration:none;
}

#main {
  margin-bottom:15pt;
}

#footer {
  border-top:2pt solid black;
  clear:both;
}

#statusbar {
  font-weight:bold;
  text-align:left;
  width:100%;
}

#nowplayingleft {
  float:left;
  vertical-align:middle;
  text-align:right;
  width:50%;
}

#nowplayingtext {
  font-size:14pt;
  font-weight:bold;
  line-height:200%;
}

#skiplink {
  font-size:10pt;
}

#nowplayingright {
  float:left;
  font-size:14pt;
  vertical-align:middle;
  width:50%;
}

#searchbox
{
  margin-left:auto;
  margin-right:auto;
}

#searchbox TABLE
{
  margin-left:auto;
  margin-right:auto;
}

#daemoncontrols
{
  clear:both;
}

#randomtracks
{
  padding-top:15pt;
}

#LoginForm
{
  font:12pt Arial,Helvetica,sans-serif;
  margin-top:15%;
  text-align:center;
}
