<configuration>
  <appSettings>
    <add key="ExternalAuthEnabled" value="true" />
    <add key="TrackDatabaseConnectionStringName" value="AspSQLProvider" />
    <add key="StateDatabaseConnectionStringName" value="AspSQLProvider" />
    <add key="UploadDirectory" value="/home/matt/neztu/songs" />
    <add key="StartCommand" value="/home/matt/neztu/src/Daemon.exe" />
    <add key="StartArgs" value="" />
    <add key="StopCommand" value="/usr/bin/pkill" />
    <add key="StopArgs" value="-f Daemon.exe|mplayer" />
    <add key="SkipCommand" value="/usr/bin/pkill" />
    <add key="SkipArgs" value="mplayer" />
  </appSettings>
  <connectionStrings>
      <add name="AspSQLProvider"
            connectionString="SERVER=localhost;USER ID=www-data;Password=passw0rd;Database=neztu;Encoding=Unicode" />
  </connectionStrings>
<!-- The rest of this file contains configuration necessary for the proper operation of Neztu. -->
  <location path="~/login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authentication mode="Forms">
      <forms name=".AspNetAuth" protection="All" defaultUrl="~/index.aspx" 
        loginUrl="~/login.aspx" timeout="30" path="/" requireSSL="false" 
        slidingExpiration="true" enableCrossAppRedirects="false" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="Off" />
    <machineKey validationKey="0EB2368CE44D80B110BF5F540B923695CB3476879A459AAA6AF95400FD4D8D2DB172B8608CFE6C4C3D67A115C7501B796824ECD43913B62A7ACFB01186C18FB9"
        decryptionKey="B79242555F51AB5B27D46AA2C3D1D167EA2993022DC46E4F" validation="SHA1" />
    <membership defaultProvider="PgMembershipProvider">
      <providers>
        <clear/>
        <add name="PgMembershipProvider" type="NauckIT.PostgreSQLProvider.PgMembershipProvider" connectionStringName="AspSQLProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Hashed" applicationName="Neztu"/>
      </providers>
    </membership>
    <pages theme="default" />
    <profile enabled="true" defaultProvider="PgProfileProvider">
      <providers>
        <clear/>
        <add name="PgProfileProvider" type="NauckIT.PostgreSQLProvider.PgProfileProvider" connectionStringName="AspSQLProvider" applicationName="Neztu"/>
      </providers>
      <properties>
        <add name="FirstName"/>
        <add name="LastName"/>
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
         <add name="AspNetSqlRoleProvider" connectionStringName="AspSQLProvider" applicationName="Neztu"
             type="NauckIT.PostgreSQLProvider.PgRoleProvider, PostgreSQLProviders, Version=1.0.2698.20744, Culture=neutral, PublicKeyToken=e35c7087b53d61d1"/>
      </providers>
    </roleManager>
    <sessionState mode="Custom" customProvider="PgSessionStateStoreProvider">
      <providers>
        <clear/>
        <add name="PgSessionStateStoreProvider" type="NauckIT.PostgreSQLProvider.PgSessionStateStoreProvider" connectionStringName="AspSQLProvider" applicationName="Neztu" />
      </providers>
    </sessionState>
    <xhtmlConformance mode="Strict" />
  </system.web>
</configuration>
