<configuration>
  <appSettings>
    <!-- CONFIG: Set this to true to use Apache authentication. -->
    <add key="ExternalAuthEnabled" value="true" />
    <add key="DatabaseConnectionStringName" value="AspSQLProvider" />
    <add key="DatabaseType" value="Neztu.PostgresDatabase" />
    <!-- CONFIG: Set this to a directory writable by the webserver, or leave it blank to disable uploads. -->
    <add key="UploadDirectory" value="/home/matt/devel/neztu/songs" />
    <!-- CONFIG: Set this to the directory to be suffixed with the username, or leave it blank to disable. -->
    <add key="ScanDirectory" value="/pub/music" />
    <add key="ScanCommand" value="/home/matt/devel/neztu/www/bin/TagReader.exe" />
    <!-- CONFIG: These may need to be edited for paths, or to use a player other than mplayer. -->
    <add key="StartCommand" value="/usr/bin/sudo" />
    <add key="StartArgs" value="/etc/init.d/liquidsoap start" />
    <add key="StopCommand" value="/usr/bin/sudo" />
    <add key="StopArgs" value="/etc/init.d/liquidsoap stop" />
    <add key="SkipCommand" value="/home/matt/devel/neztu/liquidsoap/skip.sh" />
    <add key="SkipArgs" value="" />
  </appSettings>
  <connectionStrings>
      <add name="AspSQLProvider"
            connectionString="SERVER=localhost;USER ID=neztu;Password=passw0rd;Database=neztu;Encoding=Unicode" />
  </connectionStrings>
  <location path="~/login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authentication mode="Forms">
      <forms name=".AspNetAuth" protection="All" defaultUrl="~/index.aspx" 
        loginUrl="~/login.aspx" timeout="30" path="/" requireSSL="false" 
        slidingExpiration="true" enableCrossAppRedirects="false" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="Off" />
    <!--
      CONFIG: If you have multiple webservers or wish to use Hashed or Encrypted passwords,
      you will want to set this.  You can use
      http://www.developmentnow.com/articles/machinekey_generator.aspx to generate keys.
    -->
    <!--<machineKey validationKey="INVALID" decryptionKey="INVALID" validation="SHA1" />-->
    <membership defaultProvider="PgMembershipProvider">
      <providers>
        <clear/>
        <!--
        CONFIG: If you are not using external auth, then passwordFormat="Hashed" would be more
        secure, but requires you to set the machineKey above.
        -->
        <add name="PgMembershipProvider" type="NauckIT.PostgreSQLProvider.PgMembershipProvider" connectionStringName="AspSQLProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Clear" applicationName="Neztu"/>
      </providers>
    </membership>
    <pages theme="default">
      <controls>
        <add tagPrefix="anthem" namespace="Anthem" assembly="Anthem" />
      </controls>
    </pages>
    <roleManager enabled="true" defaultProvider="PgRoleProvider">
      <providers>
        <clear/>
        <add name="PgRoleProvider" connectionStringName="AspSQLProvider" applicationName="Neztu"
             type="NauckIT.PostgreSQLProvider.PgRoleProvider"/>
      </providers>
    </roleManager>
    <sessionState mode="Custom" customProvider="PgSessionStateStoreProvider">
      <providers>
        <clear/>
        <add name="PgSessionStateStoreProvider" type="NauckIT.PostgreSQLProvider.PgSessionStateStoreProvider" connectionStringName="AspSQLProvider" applicationName="Neztu" />
      </providers>
    </sessionState>
    <xhtmlConformance mode="Strict" />
  </system.web>
</configuration>
