BODY {
  margin-left:auto;
  margin-right:auto;
  width:80%;
}

#header {
  text-align:center;
  width:100%;
}

#menu {
  clear:both;
  margin-right:15pt;
  margin-bottom:15pt;
  text-align:center;
  width:100%;
}

#menu A {
  font:14pt Arial,Helvetica,sans-serif;
  text-decoration:none;
}

#main {
  margin-bottom:15pt;
}

#footer {
  border-top:2pt solid black;
  clear:both;
}

#statusbar {
  font-weight:bold;
  text-align:left;
  width:100%;
}

#nowplaying {
  clear:both;
  font-size:14pt;
  text-align:center;
  width:100%;
}

#nowplaying TABLE {
  text-align:center;
  width:100%;
}

#nowplaying TABLE TH
{
  text-align:right;
  width:50%;
}

#nowplaying TABLE TD
{
  text-align:left;
  width:50%;
}

#searchbox
{
  text-align:center;
  width:100%;
}

#Controls
{
  text-align:center;
  width:100%;
}

#LoginForm
{
  font:12pt Arial,Helvetica,sans-serif;
  margin-top:15%;
  text-align:center;
}
