<configuration>
  <appSettings>
    <add key="TrackDatabaseConnectionStringName" value="AspSqlProvider" />
    <add key="StateDatabaseConnectionStringName" value="AspSqlProvider" />
    <add key="DatabaseFactoryType" value="Neztu.PostgresDatabaseFactory" />
    <add key="MediaPlayerCommand" value="mplayer" />
  </appSettings>
  <connectionStrings>
      <add name="AspSQLProvider"
            connectionString="SERVER=localhost;USER ID=www-data;Password=passw0rd;Database=neztu;Encoding=Unicode" />
  </connectionStrings>
</configuration>
