<configuration>
  <appSettings>
    <add key="DatabaseConnectionStringName" value="AspSqlProvider" />
    <add key="DatabaseType" value="Neztu.PostgresDatabase" />
    <!-- CONFIG: Change this to whichever player you wish to use. -->
    <add key="MediaPlayerCommand" value="mplayer" />
  </appSettings>
  <connectionStrings>
      <add name="AspSQLProvider"
            connectionString="SERVER=localhost;USER ID=neztu;Password=passw0rd;Database=neztu;Encoding=Unicode" />
  </connectionStrings>
</configuration>
