<configuration>
  <appSettings>
    <add key="TrackDatabaseConnectionStringName" value="AspSqlProvider" />
    <add key="StateDatabaseConnectionStringName" value="AspSqlProvider" />
  </appSettings>
  <connectionStrings>
      <add name="AspSQLProvider"
            connectionString="SERVER=localhost;USER ID=matt;PASSWORD=passw0rd;Database=neztu;Encoding=Unicode" />
  </connectionStrings>
</configuration>
